table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 250px;
  height: 150px;
}

table th,
td {
  border: 1px solid black;
  width: 50%;
}

table td {
  height: 75%;
  font-size: 35pt;
  font-weight: bold;
  text-align: center;
}

#game {
  width: 270px;
  height: fit-content;
  position: relative;
  margin-top: 20px;
  text-align: center;
}

#game .imgBox {
  position: relative;
  width: 100%;
  height: 168px;
}

#game .imgBox img {
  position: absolute;
  top: 0;
  left: -5px;
  width: 100%;
  height: 100%;
}

#game .btnBox {
  list-style: none;
  display: flex;
  padding: 0;
}

#game .btnBox li {
  margin: 0 10px;
}

#game .btnBox li button {
  padding: 5px 20px;
  font-size: 15px;
}
